@import "tailwindcss";

@layer base {
  body {
    background-color: #f6f2fe;
    color: #1e293b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }

  .dark body,
  body.dark {
    background-color: #181326;
    color: #f1f5f9;
  }
}
